.titulos{
    margin-top: 2rem;
     margin-bottom: 1rem; 
    text-align: center;
    i{
        font-size: 1rem;
        
    }
}
/* texto */

.textoArteMutante{
 margin: auto;
    width: 80vw;
    text-align: center;

    .textoColor{
       font-size: 20px;
        color: rgb(206, 50, 50); 

}
}

/* Video arte mutante */
.videoArteM{
  
   width: 50vw;
   margin-left: auto;
   margin-right: auto;
   .tituloVideoArte{
    text-align: center;
    p{
        font-size: 17px;
    }
   }
   .videoBack{
    iframe{
        
         text-align: end;
    
   }
}
/* media query video */
 @media screen and (max-width:450px)  {
    
    iframe{
        width: 80vw;
        margin-left: -3.5rem;
    }
    
 }
}
/* obras horizontales */
.obra1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 /*    margin-top: 1rem; */

    .obra-principal1{
        .obraFinal1{
            width: 58vw;
            border-radius: 5px;
        }
    }

    .galeria1{
        
        .slide{
            width: 30vw;

        }
        img{
            border-radius: 5px;
        }

    }

     @media screen and (max-width:450px) {
        display: flex;
        flex-direction: column;
       
        width: 90vw;
        margin: auto;
        .obra-principal1{
            .obraFinal1{
                
                width: 75vw;
                margin-left: 2rem;
            }
        }
        .galeria1{
            margin-left: -8rem;
            margin-top: -6rem;
        }
        
        
    } 
}

/* obras verticales */
.obra2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    .obra-principal2{
        .obraFinal2{
            width: 27vw;
            border-radius: 5px;
        }
    }
    .galeria2{
        .slide{
            width: 28vw;
        }
    }

    @media screen and (max-width:450px) {
        display: flex;
        flex-direction: column;
       align-items: center;
       .obra-principal2{
        .obraFinal2{
            width: 75vw;
        }
       }
       .galeria2{
        margin-left: -8rem;
        margin-top: -6rem;
       }
         
    }
}

#flechaArriba{
    
  width: 2vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
  
}