.titulos{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.obra1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;

    .obra-principal1{
        .obraFinal1{
            width: 55vw;
            border-radius: 5px;
        }
    }

    .galeria1{
        
        .slide{
            width: 30vw;

        }
        img{
            border-radius: 5px;
        }

    }
}