.titulo-bio{
    text-align: center;
    margin-bottom: 2rem;
}
.conteiner-bio{
    
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
   

         .bio-text{
            
             width: 40vw;
             font-size: 18px;
             line-height: 2rem;
             margin-left: -4rem;

             @media screen and (max-width:1000px) {
                
                width: 30vw;
                 
             }

             @media screen and (max-width:600px) {
                
                margin-left: 3rem;
                
             }
             

             .cv{
                margin-top: 4rem;
                a{
                    color: black;
                    text-decoration: none;
                    box-shadow: 2px 2px 5px gainsboro;
                    border-radius: 5px;
                    background-color: rgba(241, 241, 241, 0.747);
                    padding: 7px 10px 7px 10px;
                }
             }


             @media screen and (max-width:800px)  {

              
                font-size: 15px;
                width: 40vw;
                line-height: 1.5rem;
                
             }
         }



    .bio-img{
      
        width: 33vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: -4rem;
        
       
        

        @media screen and (max-width:600px){
            
            img{
                width: 35vw;
                
            }

        }
    }


}