.imagenes__fotos1{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .Caja__foto{
                position: relative; 

          img {
               position: relative; 
              /*  width: 27vw; */
              width: 29.16vw;
               border-radius: 3px;
               box-shadow: 2px 2px 5px rgb(138, 135, 135);
        }

        .frase{
            position: absolute;
            bottom: 48px;
            width: 100%;
            height: 20%;
            text-align: center;
           opacity: 0; 
            transition: all 500ms ease-in-out;
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.815);
             
            p{
                font-size: 1.1vw;
                padding: 1.5rem;
            }
        }
        &:hover > .frase{
            visibility: visible;
            opacity: 1;
        }
         .textos{
             h5{
                font-family:'Shrikhand', cursive ; 
                text-align: center;
                margin-top: 1rem;
             }
         }
    }
}

/* ------------------------ */
.imagenes__fotos2{
    margin-top: 1.5rem; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    .Caja__foto{
        position: relative;
      /*   overflow: hidden; */
           img{
              position: relative;
              width: 29.16vw;
              border-radius: 3px;
              box-shadow: 2px 2px 5px rgb(158, 157, 157);

}

.frase{
    position: absolute;
    bottom: 48px;
    width: 100%;
    height: 20%;
    text-align: center;
   opacity: 0; 
    transition: all 500ms ease-in-out;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.815);
    p{
        font-size: 1.1vw;
        padding: 1.5rem;
   
    }
}
&:hover > .frase{
    visibility: visible;
    opacity: 1;
}
.textos{
    h5{
        font-family:'Shrikhand', cursive ; 
        text-align: center;
        margin-top: 1rem;
    }
}
}
}
  

@media screen and (max-width: 770px){
    .imagenes__fotos1{
        flex-direction: column;
        align-items: center;
      .Caja__foto{
        img{
            width: 50vw;
        }
        h5{
            font-size: 15px;
        }
        .frase{
            bottom: 40px;
            visibility: visible;
            opacity: 1;
           
        
            
            p{ font-size: 2.5vw;
                
                margin-top: -1.1rem;
                
           }
        
    }
    }
    }


    .imagenes__fotos2{
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
     .Caja__foto{
        img{
            width: 50vw;
        }
        h5{
            font-size: 15px;
        }
        .frase{
            bottom: 40px;
            visibility: visible;
            opacity: 1;
            
            p{ font-size: 2.5vw;
                margin-top: -1.1rem;
                
                
           }
        
    }
    }
}


}