.texto__fotoLibro{
   
    width: 76vw;
    margin: auto;
    

    .titulo__fotoLibro{
       
         text-align: center;
         margin-top: 5rem;
         margin-bottom: 5rem;
    }
    
    p{ 
        
        line-height: 2rem;
        font-size: 15px;
        margin-top: -2.5rem; 
        
        
    }
}

.texto-solo{
    text-align: center;
    .masGrande{
        
        font-size: 19px;
    
}
}

.video__fotoLibro{
    
    margin-top: 2rem;
    text-align: center;
}


