



.titulo__hije{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}




.fotos_hije{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5rem;
    margin-left: 1rem;
    
     img{
        height:63vh;
    }
}