



.titulo__hije{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}




.fotos_hije{
 /* width: fit-content; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
     gap: 1.5rem;
    margin-left: 1rem; 
    img{
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(199, 198, 195);
        height: 63vh; 
    
    }
    
}