


.cabecera-llegamos{
    
    width: 100vw;
    


.titulo__hije{
    
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 1rem;
}
}


.conteiner-llegamos{
    width: 95vw;
    outline: 3px solid green;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    
    
     .texto-llegamos{
        width: 25vw;
        margin-top: 20rem;
    }

    .fotos-llegamos{
        img{
            width: 23vw;
            
        }

    }

    .flecha-llegamos{
        margin-top: 30rem;
    }
}

/* .fotos_hije{
   
 width: fit-content; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
     gap: 1rem;
    margin-left: .7 rem; 
    
    img{
        margin-top: 14rem;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgb(138, 135, 135);
        height: 70vh; 

        @media screen and (max-width: 1500px) {
            height: 65vh;
        
    
    }
    
}
} */