
/* Flecha atras de todas las secciones de fotos */
.atras{
    display: none;

    @media screen and (max-width: 770px){
        display: block;
        margin-top: 1rem;
        
    }
}

/* flacha atras paginacion todas las secciones fotos */
.flecha-paginacion-iz{
    
    margin-top:30rem;

}



.cabecera-llegamos{
    
    width: 100vw;
    


.titulo__hije{
    
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 1rem;
}
}


.conteiner-llegamos{
   
    outline: 3px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    .contenedor-texto{
        width: 30vw;
        height: 65vh;
        outline: 5px solid rgb(217, 255, 0);
    
     .texto-llegamos{
        border: 1px solid rgb(246, 9, 9);
        border-radius: 7px;
        width: 30vw;
        height: 30vh;
        margin-top: 15rem;
        text-align: center;
        padding-top: 1rem;
        box-shadow: 2px 2px 2px rgba(228, 225, 225, 0.842);
        font-size: 12px;
        
        button{
            border-radius: 5px;
            padding: 0.5rem;
            border: none;
            box-shadow: 2px 2px 2px rgba(228, 225, 225, 0.596);
        }
       
    
    }
.ventana{
    
    display: flex;
    background-color: rgba(223, 223, 22, 0.693);
    align-items: center;
    justify-content: start;
    position: fixed;
    pointer-events: none;
    top:30px;
    left:30px;
    height: 95vh;
    width: 95vw;
    opacity: 0;
    transition: all 500ms ease;
    border: 5px solid palevioletred;
    



    .texto-ventana{
        border: 3px solid rgb(32, 12, 184);
        background-color: rgb(237, 209, 51);
        width:35vw;
        height:86vh; 
    /*     max-width: 100%; */
        padding-top: 2rem;
        overflow: auto;
        border-radius: 3px;
        box-shadow: 2px 2px 2px rgb(231, 224, 224);
        text-align: center;
         
        .sub-titulo{
            margin-right: 20rem;
        }
        .firma{
            margin-left: 19rem;
        }
        button{
            border-radius: 5px;
            margin-top: 5rem; 
            border: none;
            padding: 0.6em; 
            b{
                color: red;
                
            }
            
        }


     

        

    }

    

}

.show{
    pointer-events: auto;
    opacity: 1;
}

    }


.contenedor-foto{
   outline: 5px solid black; 
    width: 25vw;
    height: 65vh;
    text-align: center;
    display: flex;
    align-items: flex-end;
    gap:2em;
    margin-right: -3rem;

    .fotos-llegamos{
        .img1{
            width: 22vw;
            
            
        
            
           
            }

    }

    




}


.contenedor-vacio{
    width: 30vw;
    height: 65vh;
    outline: 5px solid red;
}



   




@media screen and (max-width: 770px){
        outline: 6px solid pink;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    
        align-items: center;


        .contenedor-texto{
            outline: 5px solid green;
            width:90vw ;

               .texto-llegamos{
            width: 80vw;
               }
        }
       
        

        .texto-llegamos{
            outline: 5px solid rgb(201, 56, 196);
            width: 70vw;
        /*    height: 70vh;
            margin-left: auto;
            margin-right: auto; */
           /*  margin-top: 5rem;
            padding-top: 5rem;  */
           
        }
        .ventana{
            height: 70vh;
            background-color: rgba(43, 129, 204, 0.466);
            margin-top: 10rem;
            .texto-ventana{
            outline: 5px solid brown;
            width: 95vw;
            height: 75vh;
            text-align: center;
            font-size: 13px;
            margin-right: auto;
            margin-left: auto;
        }
    } 
        .fotos-llegamos{
            outline: 3px solid green;
           
        
        
            
            .img1{
                outline: 3px solid red;
                width: 75vw;
                margin-left: auto;
                margin-right: auto;
               /*  display: inline-block;
                margin-top: -12rem; */
            
                
                
                
            }
        }

        .flecha-llegamos{
            margin-left: auto;
            padding: 1rem;
            margin-top: -20rem;
        }

        
}


}

.conteiner-llegamos-pagina{
    outline: 3px solid red;



    .contenedor-foto-pagina{
        outline: 5px solid black; 
         width: 35vw;
         height: 65vh; 
        
         display: flex;
        justify-content: center; 
         align-items: flex-end; 
         gap: 1em;  
         margin-left: auto;
         margin-right: auto;
    
        .fotos-llegamos{
            .img1{
                width: 23vw;
               
                }
    
        }
    

    }
}












/*  slide--------------------------------- */