


.cabecera-llegamos{
    
    width: 100vw;
    


.titulo__hije{
    
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 1rem;
}
}


.conteiner-llegamos{
    width: 95vw;
    outline: 3px solid green;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    
    
     .texto-llegamos{
        outline: 5px solid red;
        width: 25vw;
        height: 25vh;
        margin-top: 19rem;
        text-align: center;

        button{
            border-radius: 5px;
            padding: 0.3rem;
            border: none;
        }
    
    
    }
.ventana{
    display: flex;
    background-color: rgba(250, 250, 250, 0);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: all 300ms ease;
    

   /*  .show{
        pointer-events: auto;
        opacity: 1;
    } */

    .texto-ventana{
        background-color: rgb(241, 243, 243);
        width: 500px;
        height: 650px;
        max-width: 100%;
        padding: 2rem;
        border-radius: 3px;
        box-shadow: 2px 2px 2px rgb(231, 224, 224);
        text-align: center;
        

        button{
            border-radius: 5px;
            padding: 0.3rem;
            border: none;
        }

        

    }

    

}

.show{
    pointer-events: auto;
    opacity: 1;
}



    .fotos-llegamos{
        .img1{
            width: 23vw;
           
            }

    }

    .flecha-llegamos{
        margin-top: 30rem;
    }
}

