.titulo-miras{
    text-align: center;
}

.imagenes-miras{
    
    width: 95vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;

    img{
        width: 46vw;
    }
    .img-grande{
        width: 96vw;
    }

}