.imagenes__fotos1 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenes__fotos1 .Caja__foto {
  position: relative;
}

.imagenes__fotos1 .Caja__foto img {
  position: relative;
  /*  width: 27vw; */
  width: 29.16vw;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #8a8787;
}

.imagenes__fotos1 .Caja__foto .frase {
  position: absolute;
  bottom: 48px;
  width: 100%;
  height: 20%;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.815);
}

.imagenes__fotos1 .Caja__foto .frase p {
  font-size: 1.1vw;
  padding: 1.5rem;
}

.imagenes__fotos1 .Caja__foto:hover > .frase {
  visibility: visible;
  opacity: 1;
}

.imagenes__fotos1 .Caja__foto .textos h5 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 1rem;
}

/* ------------------------ */
.imagenes__fotos2 {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenes__fotos2 .Caja__foto {
  position: relative;
  /*   overflow: hidden; */
}

.imagenes__fotos2 .Caja__foto img {
  position: relative;
  width: 29.16vw;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #9e9d9d;
}

.imagenes__fotos2 .Caja__foto .frase {
  position: absolute;
  bottom: 48px;
  width: 100%;
  height: 20%;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.815);
}

.imagenes__fotos2 .Caja__foto .frase p {
  font-size: 1.1vw;
  padding: 1.5rem;
}

.imagenes__fotos2 .Caja__foto:hover > .frase {
  visibility: visible;
  opacity: 1;
}

.imagenes__fotos2 .Caja__foto .textos h5 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 770px) {
  .imagenes__fotos1 {
    flex-direction: column;
    align-items: center;
  }
  .imagenes__fotos1 .Caja__foto img {
    width: 50vw;
  }
  .imagenes__fotos1 .Caja__foto h5 {
    font-size: 15px;
  }
  .imagenes__fotos1 .Caja__foto .frase {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
    outline: 2px solid blue;
  }
  .imagenes__fotos1 .Caja__foto .frase p {
    font-size: 2.5vw;
    outline: 2px solid red;
    margin-top: -1.1rem;
  }
  .imagenes__fotos2 {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .imagenes__fotos2 .Caja__foto img {
    width: 50vw;
  }
  .imagenes__fotos2 .Caja__foto h5 {
    font-size: 15px;
  }
  .imagenes__fotos2 .Caja__foto .frase {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
  }
  .imagenes__fotos2 .Caja__foto .frase p {
    font-size: 2.5vw;
    margin-top: -1.1rem;
  }
}

.texto__fotoLibro {
  width: 76vw;
  margin: auto;
}

.texto__fotoLibro .titulo__fotoLibro {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.texto__fotoLibro p {
  line-height: 2rem;
  font-size: 15px;
  margin-top: -2.5rem;
}

.texto-solo {
  text-align: center;
}

.texto-solo .masGrande {
  font-size: 19px;
}

.video__fotoLibro {
  margin-top: 2rem;
  text-align: center;
}

.arteMutante__texto {
  width: 80vw;
  margin: auto;
  text-align: center;
  /*  padding-inline-end: 2rem; */
  padding: 1rem;
}

.arteMutante__fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.arteMutante__fotos img {
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc9c9;
  width: 50vw;
  transition: all 0.8s;
}

.arteMutante__fotos img:hover {
  width: 55vw;
  transform: translatey(-15px);
  box-shadow: 8px 8px 5px grey;
}

.fixed-hije {
  width: 100vw;
  position: fixed;
}

.fixed-hije .titulo__hije {
  text-align: center;
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.fotos_hije {
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  margin-left: .7 rem;
}

.fotos_hije img {
  margin-top: 14rem;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #8a8787;
  height: 70vh;
}

@media screen and (max-width: 1500px) {
  .fotos_hije img {
    height: 65vh;
  }
}

.conteiner-bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.conteiner-bio .bio-text {
  outline: 5px solid #aaaab9;
  width: 35vw;
}

.conteiner-bio .bio-img {
  outline: 5px solid #9c8888;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.conteiner-bio .bio-img img {
  border-radius: 2px;
  box-shadow: 2px 2px 2px #a7a7a7;
}

/* Flecha atras de todas las secciones de fotos */
.atras {
  display: none;
}

@media screen and (max-width: 770px) {
  .atras {
    display: block;
    margin-top: 1rem;
  }
}

/* flacha atras paginacion todas las secciones fotos */
.flecha-paginacion-iz {
  margin-top: 30rem;
}

.cabecera-llegamos {
  width: 100vw;
}

.cabecera-llegamos .titulo__hije {
  text-align: center;
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.conteiner-llegamos {
  outline: 3px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.conteiner-llegamos .contenedor-texto {
  width: 30vw;
  height: 65vh;
  outline: 5px solid #d9ff00;
}

.conteiner-llegamos .contenedor-texto .texto-llegamos {
  border: 1px solid #f60909;
  border-radius: 7px;
  width: 30vw;
  height: 30vh;
  margin-top: 15rem;
  text-align: center;
  padding-top: 1rem;
  box-shadow: 2px 2px 2px rgba(228, 225, 225, 0.842);
  font-size: 12px;
}

.conteiner-llegamos .contenedor-texto .texto-llegamos button {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  box-shadow: 2px 2px 2px rgba(228, 225, 225, 0.596);
}

.conteiner-llegamos .contenedor-texto .ventana {
  display: flex;
  background-color: rgba(250, 250, 250, 0);
  align-items: center;
  justify-content: start;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 500ms ease;
}

.conteiner-llegamos .contenedor-texto .ventana .texto-ventana {
  border: 1px solid rgba(207, 205, 205, 0.849);
  background-color: white;
  width: 35vw;
  height: 45rem;
  max-width: 100%;
  padding-top: 1rem;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #e7e0e0;
  text-align: center;
}

.conteiner-llegamos .contenedor-texto .ventana .texto-ventana .sub-titulo {
  margin-right: 20rem;
}

.conteiner-llegamos .contenedor-texto .ventana .texto-ventana .firma {
  margin-left: 19rem;
}

.conteiner-llegamos .contenedor-texto .ventana .texto-ventana button {
  border-radius: 5px;
  margin-top: -1rem;
  border: none;
  padding: 0.5em;
}

.conteiner-llegamos .contenedor-texto .ventana .texto-ventana button b {
  color: red;
}

.conteiner-llegamos .contenedor-texto .show {
  pointer-events: auto;
  opacity: 1;
}

.conteiner-llegamos .contenedor-foto {
  outline: 5px solid black;
  width: 25vw;
  height: 65vh;
  text-align: center;
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.conteiner-llegamos .contenedor-foto .fotos-llegamos .img1 {
  width: 23vw;
}

.conteiner-llegamos .contenedor-vacio {
  width: 30vw;
  height: 65vh;
  outline: 5px solid red;
}

@media screen and (max-width: 770px) {
  .conteiner-llegamos {
    outline: 6px solid pink;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .conteiner-llegamos .texto-llegamos {
    outline: 5px solid #c0bd03;
    width: 70vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding-top: 5rem;
  }
  .conteiner-llegamos .ventana {
    height: 70vh;
    background-color: rgba(43, 129, 204, 0.466);
    margin-top: 10rem;
  }
  .conteiner-llegamos .ventana .texto-ventana {
    outline: 5px solid brown;
    width: 95vw;
    height: 75vh;
    text-align: center;
    font-size: 13px;
    margin-right: auto;
    margin-left: auto;
  }
  .conteiner-llegamos .fotos-llegamos {
    outline: 3px solid green;
  }
  .conteiner-llegamos .fotos-llegamos .img1 {
    outline: 3px solid red;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    /*  display: inline-block;
                margin-top: -12rem; */
  }
  .conteiner-llegamos .flecha-llegamos {
    margin-left: auto;
    padding: 1rem;
    margin-top: -20rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .carousel.pointer-event{
    height: 0;
} */
/* .imagenFondoIndex {
   background-image: url(img/Version2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 } */
.titulo {
  /*  outline: 3px solid red;
    width: 20vw;
    position: fixed;
    left: 50%;
    right: 50%;
    
    transform: translate(-50%,-50%); */
}

.titulo .nombre {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 2rem;
}

header #btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 1rem;
}

.secciones {
  /* outline: 3px solid red;
    width: 80vw;
    position: fixed;
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5rem; */
}

.secciones ul {
  margin-top: 2rem;
  margin-bottom: 3rem;
  list-style: none;
  display: flex;
}

.secciones ul li {
  flex-grow: 1;
  text-align: center;
}

.secciones ul li a {
  display: block;
  font-family: 'Shrikhand', cursive;
  text-decoration: none;
  color: #1b1a1a;
  letter-spacing: 2px;
  font-size: 16px;
}

.secciones ul li a:hover {
  color: #ce3232;
}

@media screen and (max-width: 770px) {
  .titulo .nombre {
    margin-top: -0.6rem;
    letter-spacing: 3px;
  }
  header label {
    display: block;
  }
  .secciones {
    position: absolute;
    margin-left: -50%;
    top: 9%;
    transition: all 0.5s;
    background-color: rgba(247, 247, 247, 0.301);
  }
  .secciones ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .secciones ul li a {
    font-size: 12px;
    padding: 0.1rem;
    letter-spacing: 1px;
  }
  #btn-menu:checked ~ .secciones {
    margin: 0px;
    margin-top: -2rem;
  }
}

#nav__click {
  color: #ce3232;
}

.secciones {
  z-index: 20;
}

.slide {
  width: 58vw;
  margin: auto;
}

@media screen and (max-width: 770px) {
  .slide {
    margin-top: 13rem;
  }
}

/* .carousel-inner{
       outline: 2px solid yellow;
       
    
       margin-left: 27%;
       margin-right: 20%;  

        @media screen and (max-width: 770px) {

            
                
                
                  
                       
                    
            
          
           
             margin-top: 10rem; 
           .carousel-item { outline: 2px solid blue;
           img{
               outline: 2px solid red;
               
               
           }
       } 
   } 
} */
/*# sourceMappingURL=estilos.css.map */