.imagenes__fotos1 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenes__fotos1 .Caja__foto {
  position: relative;
}

.imagenes__fotos1 .Caja__foto img {
  position: relative;
  /*  width: 27vw; */
  width: 29.16vw;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #8a8787;
}

.imagenes__fotos1 .Caja__foto .frase {
  position: absolute;
  bottom: 48px;
  width: 100%;
  height: 20%;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.815);
}

.imagenes__fotos1 .Caja__foto .frase p {
  font-size: 1.1vw;
  padding: 1.5rem;
}

.imagenes__fotos1 .Caja__foto:hover > .frase {
  visibility: visible;
  opacity: 1;
}

.imagenes__fotos1 .Caja__foto .textos h5 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 1rem;
}

/* ------------------------ */
.imagenes__fotos2 {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenes__fotos2 .Caja__foto {
  position: relative;
  /*   overflow: hidden; */
}

.imagenes__fotos2 .Caja__foto img {
  position: relative;
  width: 29.16vw;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #9e9d9d;
}

.imagenes__fotos2 .Caja__foto .frase {
  position: absolute;
  bottom: 48px;
  width: 100%;
  height: 20%;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.815);
}

.imagenes__fotos2 .Caja__foto .frase p {
  font-size: 1.1vw;
  padding: 1.5rem;
}

.imagenes__fotos2 .Caja__foto:hover > .frase {
  visibility: visible;
  opacity: 1;
}

.imagenes__fotos2 .Caja__foto .textos h5 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 770px) {
  .imagenes__fotos1 {
    flex-direction: column;
    align-items: center;
  }
  .imagenes__fotos1 .Caja__foto img {
    width: 50vw;
  }
  .imagenes__fotos1 .Caja__foto h5 {
    font-size: 15px;
  }
  .imagenes__fotos1 .Caja__foto .frase {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
  }
  .imagenes__fotos1 .Caja__foto .frase p {
    font-size: 2vw;
  }
  .imagenes__fotos2 {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .imagenes__fotos2 .Caja__foto img {
    width: 50vw;
  }
  .imagenes__fotos2 .Caja__foto h5 {
    font-size: 15px;
  }
  .imagenes__fotos2 .Caja__foto .frase {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
  }
  .imagenes__fotos2 .Caja__foto .frase p {
    font-size: 2vw;
  }
}

.texto__fotoLibro {
  outline: 2px solid yellow;
  width: 70vw;
  margin: auto;
}

.texto__fotoLibro .titulo__fotoLibro {
  outline: 2px solid red;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.texto__fotoLibro p {
  outline: 2px solid brown;
  line-height: 2rem;
  font-size: 15px;
}

.video__fotoLibro {
  margin-top: 2rem;
  text-align: center;
}

.pruebas {
  text-align: center;
}

.arteMutante__texto {
  width: 80vw;
  margin: auto;
  text-align: center;
  /*  padding-inline-end: 2rem; */
  padding: 1rem;
}

.arteMutante__fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.arteMutante__fotos img {
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc9c9;
  width: 50vw;
  transition: all 0.8s;
}

.arteMutante__fotos img:hover {
  width: 55vw;
  transform: translatey(-15px);
  box-shadow: 8px 8px 5px grey;
}

.titulo__hije {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.fotos_hije {
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-left: 1rem;
}

.fotos_hije img {
  border-radius: 3px;
  box-shadow: 2px 2px 5px #8a8787;
  height: 63vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .carousel.pointer-event{
    height: 0;
} */
/* .imagenFondoIndex {
   background-image: url(img/Version2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 } */
.titulo .nombre {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 2rem;
}

header #btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 1rem;
}

.secciones ul {
  margin-top: 2rem;
  margin-bottom: 3rem;
  list-style: none;
  display: flex;
}

.secciones ul li {
  flex-grow: 1;
  text-align: center;
}

.secciones ul li a {
  display: block;
  font-family: 'Shrikhand', cursive;
  text-decoration: none;
  color: #1b1a1a;
  letter-spacing: 2px;
  font-size: 16px;
}

.secciones ul li a:hover {
  color: #727277;
}

@media screen and (max-width: 770px) {
  .titulo .nombre {
    margin-top: -0.6rem;
    letter-spacing: 3px;
  }
  header label {
    display: block;
  }
  .secciones {
    position: absolute;
    margin-left: -50%;
    top: 9%;
    transition: all 0.5s;
    background-color: rgba(247, 247, 247, 0.301);
  }
  .secciones ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .secciones ul li a {
    font-size: 12px;
    padding: 0.1rem;
    letter-spacing: 1px;
  }
  #btn-menu:checked ~ .secciones {
    margin: 0px;
    margin-top: -2rem;
  }
}

#nav__click {
  color: #747272;
}

.secciones {
  z-index: 20;
}

.slide {
  width: 58vw;
  margin: auto;
}

@media screen and (max-width: 770px) {
  .slide {
    margin-top: 13rem;
  }
}

/* .carousel-inner{
       outline: 2px solid yellow;
       
    
       margin-left: 27%;
       margin-right: 20%;  

        @media screen and (max-width: 770px) {

            
                
                
                  
                       
                    
            
          
           
             margin-top: 10rem; 
           .carousel-item { outline: 2px solid blue;
           img{
               outline: 2px solid red;
               
               
           }
       } 
   } 
} */
/*# sourceMappingURL=estilos.css.map */