@import "fotos";
@import "FotoLibro";
@import "arteMutante";
@import "hije";
@import "bio";
@import "llegamos";
@import "abs";
@import  "memiras";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .carousel.pointer-event{
    height: 0;
} */

/* .imagenFondoIndex {
   background-image: url(img/Version2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 } */

  
 
 
 
 
 .titulo{
    /*  outline: 3px solid red;
    width: 20vw;
    position: fixed;
    left: 50%;
    right: 50%;
    
    transform: translate(-50%,-50%); */
       
        .nombre{ 
                font-family: 'Shrikhand', cursive ;
                text-align: center;
                margin-top: 2rem;
                 }
            }


header{

   
     #btn-menu{
             display:none;
             
               }


   label{
       display: none; 
        width: 30px;
       height: 30px;  
       padding: 1rem;

     


   }
}



.secciones{
    /* outline: 3px solid red;
    width: 80vw;
    position: fixed;
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5rem; */



   
   ul{
       margin-top: 2rem;
       margin-bottom: 3rem;
       list-style: none;
       display: flex;
       
       
   



   li{ 
       
       flex-grow: 1;
       text-align: center;


       

       a{ 
           
           display: block;
           font-family:'Shrikhand', cursive ; 
           text-decoration: none;
           color: rgb(27, 26, 26);
           letter-spacing: 2px;
           font-size: 16px;
           
        
          &:hover {
               color: rgb(206, 50, 50);
                  }
       }
   }


      }
    }


    img{
        border-radius: 5px;
    }
    



@media screen and (max-width: 770px) {
              .titulo .nombre{

                 margin-top: -0.6rem;
                letter-spacing: 3px;
              }

               header label{
                  display: block;

      
                 }
 
.secciones{ 
       position: absolute;
       margin-left: -50%;
       top:9%;
       transition: all 0.5s; 
       background-color: rgba(247, 247, 247, 0.301);
       
      
       
         ul{
           flex-direction: column;
            align-items: flex-start;

            li{
 
           a{  
               
            
            
                 font-size: 12px;
                padding: 0.1rem; 
                 letter-spacing: 1px;

              
           }
       }
    }
   
   }
  


   #btn-menu:checked~.secciones{
       margin: 0px;
        margin-top: -2rem; 
       
     }
   
   
}

  #nav__click{
      color: rgb(206, 50, 50);
  }  
  
  
 .secciones{
     z-index: 20;
 }



 .slide{
   
       width: 58vw;
       margin: auto;
       
       @media screen and (max-width: 770px){
           margin-top: 13rem;
       }
    
} 




   /* .carousel-inner{
       outline: 2px solid yellow;
       
    
       margin-left: 27%;
       margin-right: 20%;  

        @media screen and (max-width: 770px) {

            
                
                
                  
                       
                    
            
          
           
             margin-top: 10rem; 
           .carousel-item { outline: 2px solid blue;
           img{
               outline: 2px solid red;
               
               
           }
       } 
   } 
} */
   

   

  

   
