.imagenes__fotos1 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagenes__fotos1 .Caja__foto {
  position: relative;
}

.imagenes__fotos1 .Caja__foto img {
  position: relative;
  /*  width: 27vw; */
  width: 450px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #9e9d9d;
}

.imagenes__fotos1 .Caja__foto .frase {
  position: absolute;
  bottom: 48px;
  width: 100%;
  height: 15%;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  background-color: rgba(184, 180, 180, 0.356);
}

.imagenes__fotos1 .Caja__foto:hover > .frase {
  visibility: visible;
  opacity: 1;
}

.imagenes__fotos1 .Caja__foto .textos h5 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 1rem;
}

/* ------------------------ */
.imagenes__fotos2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagenes__fotos2 .Caja__foto {
  position: relative;
  /*   overflow: hidden; */
}

.imagenes__fotos2 .Caja__foto img {
  position: relative;
  width: 450px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #9e9d9d;
}

.imagenes__fotos2 .Caja__foto .frase {
  position: absolute;
  bottom: 48px;
  width: 100%;
  height: 15%;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  background-color: rgba(224, 218, 218, 0.356);
}

.imagenes__fotos2 .Caja__foto .frase p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.imagenes__fotos2 .Caja__foto:hover > .frase {
  visibility: visible;
  opacity: 1;
}

.imagenes__fotos2 .Caja__foto .textos h5 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 770px) {
  .imagenes__fotos1 {
    flex-direction: column;
    align-items: center;
  }
  .imagenes__fotos1 .Caja__foto img {
    width: 40vw;
  }
  .imagenes__fotos1 .Caja__foto h5 {
    font-size: 15px;
  }
  .imagenes__fotos2 {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .imagenes__fotos2 .Caja__foto img {
    width: 40vw;
  }
  .imagenes__fotos2 .Caja__foto h5 {
    font-size: 15px;
  }
}

.texto__fotoLibro {
  width: 95vw;
  margin: auto;
}

.texto__fotoLibro .titulo__fotoLibro {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.texto__fotoLibro p {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel.pointer-event {
  height: 0;
}

/* .imagenFondoIndex {
   background-image: url(img/Version2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 } */
.titulo .nombre {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-top: 4rem;
}

header #btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 1rem;
}

.secciones ul {
  margin-top: 2rem;
  margin-bottom: 3rem;
  list-style: none;
  display: flex;
}

.secciones ul li {
  flex-grow: 1;
  text-align: center;
}

.secciones ul li a {
  display: block;
  font-family: 'Shrikhand', cursive;
  text-decoration: none;
  color: #1b1a1a;
  letter-spacing: 2px;
  font-size: 16px;
}

.secciones ul li a:hover {
  color: #727277;
}

@media screen and (max-width: 770px) {
  .titulo .nombre {
    margin-top: -0.6rem;
    letter-spacing: 3px;
  }
  header label {
    display: block;
  }
  .secciones {
    outline: 1px solid blue;
    position: absolute;
    margin-left: -50%;
    top: 9%;
    transition: all 0.5s;
    background-color: #f7f7f7;
  }
  .secciones ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .secciones ul li a {
    font-size: 12px;
    padding: 0.2rem;
    letter-spacing: 1px;
  }
  #btn-menu:checked ~ .secciones {
    margin: 0px;
    margin-top: -2rem;
  }
}

#nav__click {
  color: #747272;
}

.secciones {
  z-index: 20;
}

.carousel-inner {
  margin-left: 25%;
  margin-right: 25%;
}

@media screen and (max-width: 770px) {
  .carousel-inner {
    margin-top: 15rem;
  }
}
/*# sourceMappingURL=estilos.css.map */